 img{
    height: 100%;
    width: 261px;
    margin-left: 33px;
    /* object-fit: cover; Ensures the image covers the entire container */
    /* transition: filter 0.3s ease; */
    object-fit: cover; /* Ensures the image covers the entire container */
    transition: transform 0.3s ease, filter 0.3s ease;
    border: 1px solid transparent; 
    /* border-radius: 10px; */
}

img:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(2, 254, 241, 0.8));
    transform: scale(1.05); 
    filter: brightness(1.2) contrast(1.2); /* Adjust the values for brightness and contrast */
    animation: pulse-border 1.5s infinite;
    border-image: linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255)); /* Add a colorful gradient as the border */
    border-image-slice: 1; /* Ensure the entire border is filled with the gradient */
      animation: pulse-border 1.5s infinite; 
}