.image-container {
  display: flex;
  gap: 16px; 
  overflow-x: scroll; 
}

.flip-container {
  position: relative;
  perspective: 1000px;
  width: 250px; 
  scroll-snap-align: start; 
}

.flip-container .img-1,
.flip-container .flipped-image {
  width: 210px;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.3s ease;
  border: 1px solid transparent;
  margin-left: 9px;
  margin-right: 8px;
}

@media (max-width: 769px ) {
  .image-container{
    width: 1000px;
  }

  .scroll-container{
    overflow: scroll;
  }
    
  }

.flip-container .flipped-image {
  transform: rotateY(180deg) scale(1.0);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none; 
}

.flip-container .img-1:hover {
  border-color: #3498db; 
  cursor: pointer; 
}

.flip-container.is-flipped .img-1 {
  transform: rotateY(180deg) scale(1.0);
  opacity: 0;
}

.flip-container.is-flipped .flipped-image {
  opacity: 1;
}

@media (min-width: 768px) {
  .flip-container {
    width: calc(33.333% - 16px);
    max-width: none;
  }
}

@media (min-width: 1024px) {
  .flip-container {
    width: calc(33.333% - 16px); 
  }
}

@media (min-width: 1200px) {
  .flip-container {
    width: calc(25% - 16px); 
  }
}
.image-container::-webkit-scrollbar {
  display: none;
}

.image-container {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.image-container:hover {
  scrollbar-color: transparent transparent;
}
