.gamepass{
    background-color: #321448;
    height: 480px;
    border-radius: 10px;
    /* padding: 50px; */
    margin: 10px;
}

.pass{
    color: rgb(247, 190, 4);
    font-size: 20px;
}

.game{
    color: white;
    margin-left: 15px;
    margin-top: 10px;
}

.view{
    color: white;
    margin-left: 1280px;
    font-weight: 600;
    font-size: small;
    
}

.view:hover {
    color: rgb(146, 248, 3);
    cursor: pointer;/* New background color on hover */
  }
  .underline-text {
    text-decoration: underline;
  }