.gamepass{
    border-radius: 10px;
    /* padding: 50px; */
    margin-left: 5px;
    margin: 0 auto;
    font-family: 'Proxima-Nova';
    padding-top: 1rem;
}

.h3c{
  color: #fff;
  font-size: 2rem;
}

/* .pass{
    color: rgb(247, 190, 4);
    font-size: 20px;
}

.game{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
} */



  /* @media screen and (max-width: 870px){
    .gamepass{
        background-color: #190a24;
        height: 1100px;
        border-radius: 10px;
        margin: 10px;
    }

    
    

  }

  @media screen and (max-width: 869px){
    .gamepass{
        background-color: #190a24;
        height: 1120px;
        border-radius: 10px;
        margin: 10px;
    }
}

  @media screen and (max-width: 900px){
    .gamepass{
        background-color: #190a24;
        height: 780px;
        border-radius: 10px;
        margin: 10px;
    }

  }


  @media screen and (max-width: 600px){
    .gamepass{
        background-color: #190a24;
        height: 1000px;
        border-radius: 10px;
        margin: 10px;
    }

  } */


  @media screen and (max-width: 2500px){
    .gamepass{
        background-color: #190a2400;
        height: auto;
        border-radius: 10px;
        width: auto;
    }
}