.slider {
  width: 1350px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  gap: 3px;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 2s;
  gap: 10px;
  transition: calc();
 
  
}
.item{
  width: 100%;
}
.slider .list img {
  width: 100%;
  max-width: 100vw;
  padding:  20px 25px 20px 20px;
  height: 650px;
  object-fit: cover;
  border-radius: 10px;
}

.slider .buttons {
  position: absolute;
  width: 98%;
  top: 45%;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.slider .dots li.active {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .slider .list img {
    height: 200px;
  }
  .slider{
    height: 200px;
  }
  .slider .buttons{
    top: 42%;
  }
  .slider .buttons button{
    height: 30px;
    width: 30px;
  }
  .slider .dots{
    bottom: 0;
  }
  .slider .dots li{
    height: 7px;
    width: 7px;
    margin: 5px;
  }

}
