.slider {
  height: 100vh;
  position: relative;
  margin-top: -70px;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider .list .item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  mix-blend-mode: overlay;
}

.slider .list .item::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom , rgba(14, 2, 21, 0) 30%, #110219 100.15%),
  linear-gradient(270deg, rgba(14, 2, 21, 0) 70%, #110219 100.15%),
  linear-gradient(90deg, rgba(14, 2, 21, 0) 70%, #110219 100.15%);
  
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}

.arrows {
  position: absolute;
  z-index: 100;
  bottom: 30%;
  right: 50px;
}

.arrows button {
  background-color: #79767667;
  border: none;
  font-family: monospace;
  min-width: 40px;
  min-height
  : 40px;
  border-radius: 15px;
  margin: 5px;
  color: #fff;
  font-size: x-large;
  transition: .5s;
  outline: none;
}

.arrows button:hover {
  background-color: #eee;
  color: #000;
}

.slider .carousel-buttons {
  z-index: 10;
  display: flex;
  position: absolute;
  bottom: 20%;
  left: 60px;
  transform: translateX(-50%);
}

.indicators {
  position: absolute;
  color: #D9D9D9;
  width: 100%;
  left: 60px;
  bottom: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.indicators li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #797676;
  margin: 3px;
  transition: 1s;
}

.indicators li.active {
  width: 30px;
  background-color: #4c0352;
}

@media (max-width: 1090px) {
  .slider {
    height: 60vh;
  }
  
}

@media (max-width: 800px) {
  .slider .list .item::before{
    background-image: linear-gradient(to bottom , rgba(14, 2, 21, 0) 10%, #110219 80.15%)
  }
}

@media (max-width: 750px) {
  .slider {
    height: 50vh;
  }
}

@media (max-width: 700px) {
  .slider {
    height: 45vh;
  }
}

@media (max-width: 600px) {
  .slider {
    height: 35vh;
  }
  .slider .list .item::before{
    background-image: linear-gradient(to bottom , rgba(14, 2, 21, 0) 30%, #110219 100.15%)
  }
}

/* @media (max-width: 500px) {
  .slider {
    height: 30vh;
  }
} */

@media (max-width: 400px) {
  .slider {
    height: 30vh;
  }

  .carousel-buttons {
    bottom: 10px;
  }
}

@media (max-width: 320px) {
  .slider {
    height: 15vh;
  }
}