* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px; /* Adjusted padding */
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 99;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 150%);
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 28px;
    margin-right: 3px;
}

.logo img {
    max-width: 40px;
    height: auto;
}

.navbar {
    background: #11021900;
    box-shadow: none;
}

.navbar a {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px 30px;
    transition: all .50s ease;
    padding: 8px 8px;
    border-radius: 99px;
    text-decoration: none;
}

.navbar a:hover {
    background: rgba(231, 211, 237, 0.2);
    color: #fff;
}

.navbar a.active {
    background: rgba(231, 211, 237, 0.2);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.login {
    background-image: url("../assets/img/Vector_3.webp");
    background-size: cover;
    display: flex;
    width: 70px;
}

.login a {
    text-decoration: none;
    color: #000;
}

#menu-icon {
    font-size: 35px;
    cursor: pointer;
    z-index: 10001;
    display: none;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1190px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 120%;
        right: -100%;
        width: 270px;
        height: 29vh;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.50s ease;
        background: #110219;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        transform: translateY(5px);
    }

    .navbar a.active {
        color: #fff;
    }

    .navbar.open {
        right: 2%;
        display: flex;
    }
}
