/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

/* Styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px; /* Adjusted padding */
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

/* Styles for the left side */
.left-side {
  display: flex;
  align-items: center;
}

/* Styles for the logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Styles for the search icon */
.search-icon {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/* Styles for the right side */
.right-side {
  display: flex;
  align-items: center;
}

/* Styles for the menu items */
button{
  padding-bottom: 20px;
}
.menu-items {
  z-index: 10;
  list-style-type: none;
  padding-top: 10px;
  margin: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.menu-items.active {
  display: flex;
  flex-direction: column;
}

.menu-items li {
  margin-bottom: 10px;
  color: #333;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-items li:hover {
  background-color: #800080;
}

menu-items li button {
  background-color: #fff;
}

/* Styles for the menu icon */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

/* Styles for the login button */
.login{
  margin-bottom: 5px;
}
.login button{
  background-color: #800080;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  align-items: center;
}

.login button:hover {
 background-color: #a505a5;
}

/* For desktop mode */
@media (min-width: 769px) {
  .menu-icon {
    display: none; /* Hide menu icon in desktop mode */
  }

  .menu-items {
    display: flex; /* Display menu items in desktop mode */
    justify-content: center; /* Center menu items horizontally */
    position: static;
    background-color: transparent; /* Remove background color */
    box-shadow: none; /* Remove box shadow */
  }

  .menu-items li {
    margin-bottom: 5px; /* Adjust margin to move menu items a little lower */
    cursor: pointer;
    color: #fff; /* Change menu item color */
  }
  
}
 a:hover{
  color: #fff;
  text-decoration: none;
}