.App {
  text-align: center;
}
body{
  background-color: #121212;
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */