@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima-Nova";
  src: url("../src/assets/fonts/proxima-nova/Mark\ Simonson\ \ Proxima\ Nova\ Semibold.otf");
}

@font-face {
  font-family: "Tungsten-Bold";
  src: url("../src/assets/fonts/Tungsten-Font-1/Tungsten\ Font/Tungsten-Bold/Tungsten-Bold.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

